@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}